#
#  sphinx_build.yml
#  
#  Copyright The SpaceLab-Decoder Contributors.
#  
#  This file is part of SpaceLab-Decoder.
#
#  SpaceLab-Decoder is free software; you can redistribute it
#  and/or modify it under the terms of the GNU General Public License as
#  published by the Free Software Foundation, either version 3 of the
#  License, or (at your option) any later version.
#  
#  SpaceLab-Decoder is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#  
#  You should have received a copy of the GNU General Public
#  License along with SpaceLab-Decoder; if not, see <http://www.gnu.org/licenses/>.
#  
#
#

name: Documentation build test

on:
  push:
    branches: [dev]
  pull_request:
    branches: [master, dev]

  # 'workflow_dispatch' allows manual execution of this workflow under the repository's 'Actions' tab
  workflow_dispatch:

jobs:
  build-doc:
    name: Documentation building
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build pages
        uses: Kjuly/sphinx-builder@main
        with:
          source_root: "docs/"
      - name: Create artifact
        uses: actions/upload-artifact@v4
        with:
          name: Documentation HTML
          path: docs/_build/html/
